<h1>Practice for Database Server</h1>
<h2>Test-trail from Db.json file</h2>
<table >
  <tr>
    <th>No.</th>
    <th>Names</th>
    <th>Email</th>
    <th>Password</th>
    <th>Image</th>
  </tr>
    <tr *ngFor="let n of storage"> <td>
      {{n.id}}
  </td>  
<td>{{n.name}}</td>
<td>{{n.email}}</td>
<td>{{n.password}}</td>
<td><img src={{n.Image}} width="80px"> </td>
  </tr>

</table>
<h2>Test-trail from test.json file</h2>
<table *ngFor="let s of storage1">
  
  
    {{s.id}}-{{s.name}}-{{s.empId}}-{{s.disnation}}
  
  <!-- <li>{{s.disnation}};{{s.name}}</li> -->
</table>
<h2>test-trail from test.json in the different array</h2>
<ul *ngFor=" let v of storage2">
<li>{{v.id}}.{{v.name}}-{{v.course}}</li>
<!-- <li></li> -->
</ul>

<form #userForm="ngForm" (ngSubmit)="insUser(userForm.value)">
  <input type="text" name="name" placeholder="Enter name:" ngModel>
  <br><br>
  <input type="text" name="email" placeholder="Enter E-Mail:" ngModel>
  <br><br>
  <input type="password" name="password" placeholder="Enter password" ngModel>
  <br><br>
  
  <!-- <p *ngIf="sample">updated</p> -->
  <button>Add new User</button>
</form>